hr {
  border: 0;
  border-top: 1px solid silver;
}

div.ui.auth, div.ui.top.attached.menu {
    margin-top: 40px;
}

.ui.main.container, .ui.card.full {
    width: 100%;
}

.hide {
    display: none !important;
}

div.title.item {
    position: inherit !important;
}

.description {
    word-wrap: break-word;
}

@media screen and (max-width: 637px) {
    .ui.cards > .card, .ui.card {
        width: 100% !important;
    }
}