<div>
    <div class="ui top attached pointing secondary menu">
        <a tab-item id="mytab1" class="tab item active">Add</a>
        <a tab-item id="mytab2" ng-click="vm.load()" class="tab item">URLs</a>
    </div>

    <div class="ui bottom attached tab segment active mytab1">
        <div class="ui fluid action labeled input">
            <input type="text" ng-model="vm.longUrl" ng-keypress="($event.which === 13)?vm.create():0">
            <button ng-click="vm.create()" class="ui primary button">Shorten URL</button>
        </div>
        <div class="ui pointing red basic label" ng-show="vm.errors.Add.hasError">
          Please enter a valid URL
        </div>

        <div class="ui segments" ng-show="vm.website.shortUrl">
            <!-- <div class="ui segment center aligned">
                <h3>{{ vm.website.title }}</h3>
            </div> -->
            <div class="ui segment center aligned">
                <qrcode version="2" error-correction-level="M" size="100" data="{{ vm.website.shortUrl }}" href="{{ vm.website.shortUrl }}"></qrcode>
            </div>
            <div class="ui gray segment center aligned">

                <button id="copy" data-clipboard-target="#shortUrl" class="ui right floated compact icon basic button">
                    <i class="copy icon"></i>
                </button>
                <div class="ui left floated">
                    <input id="shortUrl" type="text" style="font-size:1.7rem;border:0" ng-model="vm.website.shortUrl" ng-readonly="true">
                </div>
            </div>
        </div>
    </div>

    <div class="ui bottom attached tab segment mytab2">
        <div class="ui header centered align">
            <pagination rows="10"/>
        </div>
        <div class="ui centered align cards full" ng-hide="vm.errors.Find.hasError">
            <div class="card" ng-repeat="item in vm.paginationData.items track by $index">
                <div class="content">
                    <div class="header">{{ item.title }}</div>
                    <div class="meta">
                        <span class="right floated time">{{ item.hits }} Hits</span>
                        <span>Last access on {{ item.lastAccess | date : 'dd/MM/yyyy' }}</span>

                    </div>
                    <div class="description">
                        <tag-edit ng-repeat="t in item.tags track by $index" idx="$index" item="item" tag="t"></tag-edit>
                        <button ng-click="vm.addTagsTo(item)" class="mini ui icon basic purple button right floated">
                            <i class="plus icon"></i>
                        </button>
                    </div>
                </div>
                <div class="extra content">
                    <div style="text-align:center">
                        <qrcode version="2" error-correction-level="M" size="100" data="{{ vm.shortUrl }}{{ item.code }}" href="{{ vm.shortUrl }}{{ item.code }}"></qrcode>
                    </div>
                    <div class="ui success message">
                        <div class="header" style="text-align:center">
                            <a title="{{ item.longUrl }}" href="{{ vm.shortUrl }}{{ item.code }}">
                                <h3>{{ vm.shortUrl }}{{ item.code }}</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui header centered align"  ng-hide="vm.errors.Find.hasError">
            <pagination rows="10"/>
        </div>
    </div>

</div>
